<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true">
    <display-name>war</display-name>

    <!--access log filter-->
    <filter>
        <filter-name>accessLogFilter</filter-name>
        <filter-class>com.example.learn.tomcat.war.filter.AccessLogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>accessLogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--hello world-->
    <servlet>
        <servlet-name>helloWorld</servlet-name>
        <servlet-class>com.example.learn.tomcat.war.servlet.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloWorld</servlet-name>
        <url-pattern>/servlet/hello</url-pattern>
    </servlet-mapping>

    <!--local message-->
    <servlet>
        <servlet-name>localMessage</servlet-name>
        <servlet-class>com.example.learn.tomcat.war.servlet.LocalMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>localMessage</servlet-name>
        <url-pattern>/servlet/localMessage</url-pattern>
    </servlet-mapping>

    <!--path info-->
    <servlet>
        <servlet-name>pathInfo</servlet-name>
        <servlet-class>com.example.learn.tomcat.war.servlet.FilePathInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pathInfo</servlet-name>
        <url-pattern>/servlet/filePathInfo</url-pattern>
    </servlet-mapping>

    <!--throw exception-->
    <servlet>
        <servlet-name>throwEx</servlet-name>
        <servlet-class>com.example.learn.tomcat.war.servlet.ThrowExceptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>throwEx</servlet-name>
        <url-pattern>/servlet/throwEx</url-pattern>
    </servlet-mapping>

    <!--error code 500-->
    <servlet>
        <servlet-name>errorCode500</servlet-name>
        <servlet-class>com.example.learn.tomcat.war.servlet.ErrorCode500Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>errorCode500</servlet-name>
        <url-pattern>/servlet/500</url-pattern>
    </servlet-mapping>

    <!--uri info-->
    <servlet>
        <servlet-name>uriInfo</servlet-name>
        <servlet-class>com.example.learn.tomcat.war.servlet.UriInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uriInfo</servlet-name>
        <url-pattern>/servlet/uriInfo</url-pattern>
    </servlet-mapping>

    <!--others info-->
    <servlet>
        <servlet-name>others</servlet-name>
        <servlet-class>com.example.learn.tomcat.war.servlet.OthersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>others</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- error pages -->
    <error-page>
        <error-code>400</error-code>
        <location>/html/error.html</location>
    </error-page>

    <error-page>
        <error-code>401</error-code>
        <location>/html/error.html</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/html/error.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/html/error.html</location>
    </error-page>

    <!-- welcome page -->
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>

    <!--session timeout in minutes-->
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
</web-app>
